@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="fw-bold mb-4" style="color: #FFA500;">Administrar perfil</h1>

<div>
    <h2 class="h4 text-light mb-3">Cambiar configuraciones de cuenta</h2>


    <div class="row">
        <!-- Menú de navegación lateral -->
        <div class="col-md-3">
            <div class="bg-dark p-3 rounded shadow-sm">
                <partial name="_ManageNav" />
            </div>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-9">
            <div class="bg-dark text-light p-4 rounded shadow-sm">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
