@using CAPFIS.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link btn btn-outline-warning fw-bold px-4 mb-2 @ManageNavPages.IndexNavClass(ViewContext)"
           id="profile" asp-page="./Index"
           style="border-width: 2px; color: #FFA500; border-color: #FFA500; background-color: transparent;">
            Perfil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-outline-warning fw-bold px-4 mb-2 @ManageNavPages.ChangePasswordNavClass(ViewContext)"
           id="change-password" asp-page="./ChangePassword"
           style="border-width: 2px; color: #FFA500; border-color: #FFA500; background-color: transparent;">
            Contraseña
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a class="nav-link btn btn-outline-warning fw-bold px-4 mb-2 @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
               id="external-login" asp-page="./ExternalLogins"
               style="border-width: 2px; color: #FFA500; border-color: #FFA500; background-color: transparent;">
                Inicios de sesión externos
            </a>
        </li>
    }
</ul>

