USE [CAPFISDb]
GO
/****** Object:  Table [dbo].[Modulos]    Script Date: 9/9/2025 15:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Orden] [int] NULL,
	[EstaPublicado] [bit] NOT NULL,
	[ImagenHero] [nvarchar](max) NULL,
	[BotonTexto] [nvarchar](max) NULL,
	[BotonUrl] [nvarchar](max) NULL,
	[TituloDetallado] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Modulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Modulos] ON 

SET IDENTITY_INSERT [dbo].[Modulos] OFF
GO
ALTER TABLE [dbo].[Modulos] ADD  DEFAULT (N'') FOR [TituloDetallado]
GO
