@page
@model CAPFIS.Pages.Admin.Modulos.Opcion1Model
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Panel de Administración";
}

<h2>Opción 1 — Módulos</h2>
<p>Contenido de los módulos (Opción 1).</p>
