@page
@model CAPFIS.Pages.BaitingModel
@{
    ViewData["Title"] = "Baiting";
}

<div class="container  text-light mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-8">
            <h1 class="mb-4 text-center">Baiting: El anzuelo que esconde una trampa</h1>
            <p>
                El baiting es un tipo de ataque que se basa en el ofrecimiento de un recurso atractivo para inducir a la víctima a ejecutar una acción perjudicial. El “cebo” puede ser digital (una descarga, un archivo, un enlace), o físico (una memoria USB, un disco, un dispositivo).
            </p>
            <p>
                En su versión digital, el baiting aparece en forma de publicidad engañosa, ventanas emergentes o mensajes en redes sociales que prometen acceso a contenidos exclusivos, premios o beneficios. Al hacer clic o descargar el contenido, se instala malware en el dispositivo.
            </p>
            <p>
                En su versión física, el atacante puede dejar un pendrive infectado en una zona de tránsito (oficinas, universidades, estaciones) con la expectativa de que alguien lo conecte por curiosidad. Una vez conectado, el dispositivo ejecuta código malicioso automáticamente o abre puertas traseras para el acceso remoto.
            </p>
            <p>
                Este tipo de ataque explota la avidez, la curiosidad y la rutina humana de querer resolver todo rápido o “aprovechar una oferta”.
            </p>

            <h3 class="mt-5 mb-3">Prevención</h3>
            <ul>
                <li>No descargar contenido de fuentes desconocidas o no verificadas.</li>
                <li>Evitar conectar dispositivos de origen incierto.</li>
                <li>Configurar el equipo para que no ejecute automáticamente el contenido de dispositivos externos.</li>
                <li>Utilizar software de seguridad que detecte archivos maliciosos.</li>
            </ul>
        </div>
    </div>
</div>
