@page "/login"
@model LoginModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="container py-5" style="max-width: 420px;">

    <form method="post" class="bg-dark p-4 rounded shadow" novalidate>
        <h1 class="mb-4 fw-bold text-center" style="color: #FFA800; text-shadow: 0 4px 18px rgba(0,0,0,0.8);">
            Iniciar sesión
        </h1>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-floating mb-3">
            <input asp-for="Input.Email" type="email" class="form-control" placeholder="Correo electrónico" autocomplete="username" />
            <label asp-for="Input.Email">Correo electrónico</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-4">
            <input asp-for="Input.Password" type="password" class="form-control" placeholder="Contraseña" autocomplete="current-password" />
            <label asp-for="Input.Password">Contraseña</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="mb-4 form-check">
            <input asp-for="Input.RememberMe" class="form-check-input" id="rememberMe" />
            <label class="form-check-label text-white" for="rememberMe">
                Recordarme
            </label>
        </div>

        <!-- reCAPTCHA -->
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />

        <button type="submit" class="btn btn-naranja fw-bold w-100 py-3" style="font-size: 1.25rem;">
            Iniciar sesión
        </button>

        <div class="mt-4 text-center">
            <a asp-page="./Register" class="custom-hover" style="color: white; font-weight: 600;">Crear una cuenta nueva</a><br />
        </div>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["GoogleReCaptcha:SiteKey"]"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('@Configuration["GoogleReCaptcha:SiteKey"]', {action: 'login'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
}
